  <%= f.error_messages %>

  <%
    if mode == 'new'
      submit_text = "Create"
    else
      submit_text = "Update"
    end

    disabled = !User.current_user(session).admin?
  %>

  <% if disabled %>
    <%= f.hidden_field :company_id %>
  <% end %>

  <p>
    <%= f.collection_select(:company_id, Company.find(:all, :order => "name"), :id, :name, 
          {}, {:disabled => disabled }) %>
  </p>

  <p>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.text_field :home_phone %>
  </p>
  <p>
    <%= f.text_field :work_phone %>
  </p>
  <p>
    <%= f.text_field :cell_phone %>
  </p>
  <p>
    <%= f.text_field :salutation %>
  </p>

  <p>
    <div>
      <%= f.submit submit_text %> <%= link_to 'Cancel', pet_owners_path %>
    </div>
  </p>
