<% unless @appointments.empty? %>
  <table border="0">
    <tr>
      <th>Pet Owner</th>
      <th>Pet</th>
      <th>Groomer</th>
      <th>Date</th>
      <th>Time</th>
      <th>Price</th>
    </tr>

    <% 
    sum = 0
    for appointment in @appointments %>
      <tr valign="top" class="<%=cycle('list-line-odd', 'list-line-even')%>">
        <td><%=h appointment.pet.pet_owner.name if appointment.pet.pet_owner != nil %></td>
        <td><%=h appointment.pet.name if appointment.pet != nil %></td>
        <td><%=h appointment.groomer.name if appointment.groomer != nil %></td>
        <td><%=h appointment.appointment_date.strftime("%A, %B %d, %Y") %></td>
        <td><%=h appointment.appointment_time.strftime("%H:%M") %></td>
        <td><%=h number_to_currency(appointment.price) %></td>
      </tr>
    <% 
    sum += appointment.price
    end %>

    <tr >
      <td colspan="5"><b>Total</b></td>
      <td><%=h number_to_currency(sum) %></td>
    </tr>
  </table>
<% end %>
